nonupstream/**
sample
*.avi
*.mp4
readall/*
readall 
.vs*
.env
code_docs_generator.py
scriptgpt.py
scriptClaude.py
code_analyzer*
//openaiQuestion*
LLMscript/*
*.md
*.svg
AI/MachineLearning/Deep_learning/Pytorch/ImageClassifier/data/cifar-10-python.tar.gz